{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}